@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: lightyellow;
}

.header {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: black;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;

}

.player {
  display: block;
  width:50%;
  margin: 0 auto;
  margin-top: 80px;
  overflow: hidden;
  height:500px;
}

.player__controls, .player__video {
  width: 100%;
}

.player__controls {
  position: relative;
  bottom: 66px;
}


.player__controls .progress, .toggle, .player__slider, .player__button {
  background: transparent;
  border: none;
  color: white;
}

.player__controls .progress {
  width: 100%;
}
.progress__filled {
  background-color: #e8da44;
  width: 50%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

input[type="range"] {
  width: 45%;
  height: 12px;
  -webkit-appearance: none;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 23px;
  border-radius: 16px;
  background: #e8da44;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"] , .player__button {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
  padding-left: 5px;
}
input[type="range"]:focus , .player__button:focus {
  outline: none;
}

.skip {
  padding-left: 19px;
}

.toggle {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
}

.footer i {
  color: red;
}
